<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpectrumPrint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpectrumPrint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SpectrumPrint.My.MySettings.POSDBConnectionString"
            connectionString="Data Source=10.10.180.12;Initial Catalog=POSDB;Persist Security Info=True;User ID=sa;Password=pass$123" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SpectrumPrint.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=10.10.180.12;DataBase=newPOSDB;Uid=sa;pwd=pass$123</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>SPECTRUM</value>
            </setting>
        </SpectrumPrint.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SpectrumPrint.My.MySettings>
            <setting name="SqlDateFormat" serializeAs="String">
                <value>MM/dd/yyyy</value>
            </setting>
            <setting name="POSPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherPrinter" serializeAs="String">
                <value>HP LaserJet 2420 PCL 6_</value>
            </setting>
            <setting name="Drawer" serializeAs="String">
                <value />
            </setting>
            <setting name="LineDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="Scanner" serializeAs="String">
                <value />
            </setting>
        </SpectrumPrint.My.MySettings>
    </userSettings>
</configuration>
